:host {
  .container {
    margin-left: 100px;
    height: 500px;
    position: relative;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
  }

  form {
    width: 100%;
    min-width: 420px;
    .form-row {
      display: flex;
      flex-direction: row;
      .form-field {
        flex: 33;
        margin-right: 10px;
      }
    }
    .description-field {
      margin-top: 20px;
      margin-right: 16px;
      textarea {
        width: 100%;
      }
    }
    label {
      display: block;
      margin-bottom: 10px;
      color: gray;
      font-size: 15px;
    }
    .actions {
      position: absolute;
      bottom: 40px;
      width: 100%;
      text-align: center;
      button {
        margin-right: 20px;
      }
    }
  }
}
